@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --small-text: #8a9ba2;
  --black: #000;
  --red: #f30543;
  --background: #131313;
  --searchbar: rgb(58, 58, 58);
  --grey: #313131;
  --clr-white: #fff;
  --clr-purple: #4b145b;
  --clr-grey-special: #6b6b6b;
  --clr-black: #222;
  --facebook: #4267b2;
  --apple: #38415f;
  --red-circle-1: rgba(150, 16, 56, 0.1);
  --red-circle-2: rgba(151, 47, 47, 0.15);
  --red-circle-3: rgba(151, 47, 47, 0.2);
  /* used as bg in favorite and watchlist button in card*/
  --card-small-button: rgba(0, 0, 0, 0.575);
  --card-booster-button: #ffee00;
  --FAFAFA: #fafafa;
  --Color7B9DB4: #7b9db4;
  --Color1E1E1E: #1e1e1e;
  --skeletonColor: #1a1919;

  --main-blue: #6673fc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
